<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737004311627-ehta09pked3g5ejt6dafsh4qrgapht52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737004311627-ehta09pked3g5ejt6dafsh4qrgapht52</string>
	<key>API_KEY</key>
	<string>AIzaSyD1JinHtavqwU9s1oRri1WF1IC5Eybe_RA</string>
	<key>GCM_SENDER_ID</key>
	<string>737004311627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ractoon.flutter-chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-52c5a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-52c5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737004311627:ios:54d1453a13c6a52fd829ce</string>
</dict>
</plist>